includes:
	- vendor/jangregor/phpstan-prophecy/src/extension.neon
	- vendor/localheinz/phpstan-rules/rules.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/phpstan/phpstan/conf/config.levelmax.neon

parameters:
	classesAllowedToBeExtended:
		- Faker\Provider\Base
	ignoreErrors:
		- '#Method .* has parameter .* with null as default value.#'
	paths:
		- src
		- test
	tmpDir: %currentWorkingDirectory%/.build/phpstan
